<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300754219920-khb4iikoqpgnvcfar57i3kdfpkj6bg1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300754219920-khb4iikoqpgnvcfar57i3kdfpkj6bg1p</string>
	<key>API_KEY</key>
	<string>AIzaSyAOjkY6z_urrSarrLq-p8sT_Mg42Af4Nzk</string>
	<key>GCM_SENDER_ID</key>
	<string>300754219920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fidelizacionApp</string>
	<key>PROJECT_ID</key>
	<string>fidelizacion-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fidelizacion-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300754219920:ios:8e1e5e06851c28d46eb915</string>
</dict>
</plist>